{% extends 'layout.html' %}

{% block self_head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mix-select/mix-select.css') }}"/>
{% endblock %}

{% block content %}
<!-- 内容主体区域 -->

<div class="mix-select">
  <div class="mix-select-search">
    <input id="search_content" type="text" autocomplete="off" placeholder="搜索职位、公司以及其它相关信息" >
    <button class="layui-btn layui-btn-radius">搜索</button>
  </div>

	<table>
		<thead class="salary"><th>薪资</th></thead>
		<tbody>
			<tr>
				<td><a href="javascript:" class="active">不限</a></td>
				<td><a href="javascript:">0k-5k</a></td>
				<td><a href="javascript:">6k-10k</a></td>
				<td><a href="javascript:">11k-15k</a></td>
				<td><a href="javascript:">16k-20k</a></td>
				<td><a href="javascript:">21k-25k</a></td>
				<td><a href="javascript:">26k+</a></td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead class="benefit"><th>福利</th></thead>
		<tbody>
			<tr>
				<td><a href="javascript:" class="active">不限</a></td>
				<td><a href="javascript:">餐补</a></td>
				<td><a href="javascript:">六险一金</a></td>
				<td><a href="javascript:">交通补助</a></td>
				<td><a href="javascript:">年底3+薪</a></td>
				<td><a href="javascript:">股票期权</a></td>
			</tr>
		</tbody>
	</table>
	<div class="mix-select-total">
		<span>{{ total }}</span>
		<span>个职位</span>
	</div>
	<div class="mix-select-sort">
		排序方式 :&ensp; &ensp;
		<a href="javascript:" class="active">默认</a> &ensp;|&ensp;
		<a href="javascript:">按薪资</a> &ensp;|&ensp;
		<a href="javascript:">按经验</a> &ensp;|&ensp;
		<a href="javascript:">按规模</a> &ensp;|&ensp;
		<a href="javascript:">按发布时间</a>
	</div>
</div>

<div id="job-table" class="layui-form">
  <table class="layui-table" lay-filter="job-table"></table>
</div>

<!-- 内容主体区域 END -->
{% endblock %}

{% block self_foot_script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mix-select/mix-select.js') }}"></script>
<script>
layui.use(['element', 'layer'], function() {
  var element = layui.element;
  var layer = layui.layer;
});

function OpenTip(value, obj) {
  layer.tips(value, obj, {
    tips: [1, '#009688'],
    time: 0,
    shade: 0.01,
    shadeClose: true
  });
}

function OpenDesc(value) {
  layer.open({
    title: '职位描述',
    type: 1,
    skin: 'layui-layer-molv',
    area: ['640px', '480px'],
    content: value
  });
}

function SendCond(paras) {
  layui.use('table', function(){
    var table = layui.table;
    table.render({
      elem: '#job-table',
      method: 'get',
      url: '/ajax_table', //数据接口
      where: paras, //参数
      page: {groups: 10}, //开启分页
      cols: [[ //表头
        {field: 'name', title: '职位', width:200, fixed: 'left', templet: '#nameTpl'},
        {field: 'company', title: '公司', width:200, fixed: 'left', templet: '#companyTpl'},
        {field: 'salary', title: '月薪', width:100},
        {field: 'experience', title: '经验要求', width:100},
        {field: 'education', title: '学历要求', width: 100},
        {field: 'address', title: '公司地址', width: 100, templet: '#addressTpl'},
        {field: 'benefit', title: '公司福利', width: 300},
        {field: 'flag', title: '标签', width: 280},
        {field: 'time', title: '发布时间', width: 100},
        {field: 'field', title: '领域', width: 150},
        {field: 'trend', title: '阶段', width: 100},
        {field: 'scale', title: '公司规模', width: 100}
      ]]
    });
  });
}

SendCond(CONDITION);

</script>

{% raw %}
<script type="text/html" id="companyTpl">
  <a href="{{ d.home }}" target="_blank">{{ d.company }}</a>
</script>

<script type="text/html" id="nameTpl">
  <a href="javascript:;" onclick="OpenDesc('{{= d.description }} ')">{{ d.name }}</a>
</script>

<script type="text/html" id="addressTpl">
  <a href="javascript:;" onclick="OpenTip('{{ d.address }}', this)">{{ d.zone }}</a>
</script>

{% endraw %}

{% endblock %}