{% extends 'layout.html' %}

{% block self_head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mix-select/mix-select.css') }}"/>
{% endblock %}

{% block content %}
<!-- 内容主体区域 -->

<div class="mix-select" style="padding-top: 5px;">
  <div></div>
	<table>
		<thead class="salary"><th>薪资</th></thead>
		<tbody>
			<tr>
				<td><a href="javascript:" class="active">不限</a></td>
				<td><a href="javascript:">0k-5k</a></td>
				<td><a href="javascript:">6k-10k</a></td>
				<td><a href="javascript:">11k-15k</a></td>
				<td><a href="javascript:">16k-20k</a></td>
				<td><a href="javascript:">21k-25k</a></td>
				<td><a href="javascript:">26k+</a></td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead class="benefit"><th>福利</th></thead>
		<tbody>
			<tr>
				<td><a href="javascript:" class="active">不限</a></td>
				<td><a href="javascript:">餐补</a></td>
				<td><a href="javascript:">六险一金</a></td>
				<td><a href="javascript:">交通补助</a></td>
				<td><a href="javascript:">年底3+薪</a></td>
				<td><a href="javascript:">股票期权</a></td>
			</tr>
		</tbody>
	</table>
	<div class="mix-select-total" style="float: none;">
		<span>63</span>
		<span>个职位</span>
	</div>
</div>

<div style="width: auto;height: 750px;" id="map-container"></div>

<!-- 内容主体区域 END -->
{% endblock %}

{% block self_foot_script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mix-select/mix-select.js') }}"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
  
<script>
layui.use(['element', 'layer'], function() {
  var element = layui.element;
  var layer = layui.layer;
});

function OpenDesc(value) {
  layer.open({
    title: '职位描述',
    type: 1,
    skin: 'layui-layer-molv',
    area: ['640px', '480px'],
    content: value
  });
}

function addPoints() {
  var point = null;
  var marker = null;
  var infoWindow = null;
  $.each({{ infos|safe }}, function (_, item) {
    point = new BMap.Point(item['coordinate'][0], item['coordinate'][1]);
    marker = new BMap.Marker(point);
    marker.addEventListener('mouseover', function(){
      infoWindow = new BMap.InfoWindow(
        '<a href="javascript:;" style="color:#009688;" onclick="OpenDesc(\'' + item['description'] + '\')">详情>></a>',
        {width: 0, height: 0, offset: new BMap.Size(0, -10), title: '职位: '+ item['name'] + '<br>公司: '+ item['company']}
      );  // 创建信息窗口对象
      window.map.openInfoWindow(infoWindow, new BMap.Point(item['coordinate'][0], item['coordinate'][1]));
    });
    window.map.addOverlay(marker);
  });
}

addPoints();
</script>  
{% endblock %}