.mix-select {
	background-color: #f5f9fa;
	font-size: 12px;
	padding: 30px 15px 5px 15px;
}

.mix-select-search {
	margin-bottom: 20px;
	text-align: center;
}

.mix-select-search input {
	width: 800px;
	padding: 10px 5px;
}

.mix-select-search button {
	width: 80px;
	margin-left: 40px;
}

.mix-select table {
	border-bottom: #e6e6e6 1px dashed;
	width: 100%;
}

.mix-select tbody {
	margin-left: 30px;
}

.mix-select thead {
	padding-right: 30px;
	font-size: 15px;
}

.mix-select thead, .mix-select tbody {
	float: left;
	margin: 5px 0 5px 0;
}

.mix-select tr td {
	padding: 0 10px;
	height: 23px;
}

.mix-select tr td a {
	color: #000;
	padding: 5px 5px 4px 5px;
	border-radius: 15px;
	text-decoration: none;
}

.mix-select tr td a.active {
	background: #009688;
	color: #fff;
}

.mix-select tr td a.delete {
	background: #fff;
	color: #000;
}

.mix-select-total {
	float: left;
	margin-top: 10px;
}

.mix-select-total span:first-child {
	color: #009688;
	font-size: 18px;
}

.mix-select-sort {
	text-align: right;
	margin-top: 10px;
}

.mix-select-sort a {
	color: #979797;
	text-decoration: none;
}

.mix-select-sort a.active, .mix-select-sort a.active-down, .mix-select-sort a.active-up {
	color: #009688;
}

.mix-select-sort a.delete {
	color: #979797;
}

.mix-select-sort a.active-down:after {
	color: #009688;
	content: " \2193";
}

.mix-select-sort a.active-up:after {
	color: #009688;
	content: " \2191";
}

.mix-select-sort a.active-up {
	color: #009688;
}