[client]
port = 3306
default-character-set=utf8

[mysql]
no-auto-rehash
default-character-set=utf8

[mysqld] 
skip-grant-tables 
port=3306 
character_set_server=utf8 
basedir=D:\mysql
datadir=D:\mysql\data
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
log-error=D:\mysql\mysqld.log
lower_case_table_names=1