{%  extends 'bbs/index.html'%}

{% block page-content %}

<div>

<!-- Place inside the <head> of your HTML -->
<script type="text/javascript" src="/static/bbs/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
 });
</script>

<!-- Place this in the body of the page content -->
    <div style="padding: 30px 0;">
        <form class="bs-example bs-example-form" role="form">
            <div class="input-group">
                <span class="input-group-addon" style="width: 85px;">Title</span>
                <input type="text" name='title' class="form-control" placeholder="输入标题" style="width: 500px;">
            </div>
            <br>

            <textarea name='content'></textarea><br>
            <input type='submit' value='Save' />
        </form>
    </div>
    
</div>



{% endblock%}


